# Set default behavior to automatically normalize line endings
* text=auto

# Explicitly declare files that should have LF line endings
*.c text eol=lf
*.h text eol=lf
*.sql text eol=lf
*.sh text eol=lf
*.md text eol=lf
Makefile* text eol=lf
CMakeLists.txt text eol=lf
